<div class="container">
  <div *ngIf="favoritesList.length === 0">
      <div class="alert alert-warning resultView" role="alert">
        <strong>Sorry!</strong> No records found.
      </div>
  </div>
  <div *ngIf="favoritesList.length > 0" id="favList">
    <table class="table table-hover resultView">
      <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-4">City</th>
          <th class="col-4">State</th>
          <th class="col-2"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of favoritesList; let i = index">
          <th>{{ i + 1 }}</th>
          <td>
            <div class="tableLink p-0" (click)="searchCity($event)">{{ item.city }}</div>
          </td>
          <td>
            <div class="tableLink p-0" (click)="searchState($event)">{{ item.state }}</div>
          </td>
          <td>
            <svg id="trashButton" (click)="removeFav($event)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>